/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* background logo color : #F3E9F1 */

/*************** CSS du HTML (header, footer, main) ****************/

.head-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 2rem;
    background-color: #F3E9F1;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
}
.head-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: .5rem 0;
}
.nav-list {
    margin-left: 1.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.nav-list a {
    text-decoration: none;
    color: #000000;
    border: 2px solid #000;
    padding: .25rem;
}
.head-nav a, .head-nav img {
    border-radius: 15px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.head-nav a:hover {
    -webkit-box-shadow: 0px 0px 10px #000;
            box-shadow: 0px 0px 10px #000;
}
.nav-list:last-child {
    padding-right: 25px;
}
#main {
    padding-top: 125px;
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    margin-bottom: 7rem;
}
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F3E9F1;
    font-size: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 0;
}
.ic {
    color: #000000;
}

/*************************** Bouton CSS général ********************/

button {    
    border-radius: 15px;
    padding: .25rem .5rem;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px grey;
            box-shadow: 0 0 10px grey;
}

/************************** CSS h1 index ***************************/

.index-title {
    text-align: center;
    margin-bottom: 2rem;
}
 /************************* h1 général *****************************/

 h1 {
    font-style: italic;
    text-decoration: underline;
 }
/************************ Page d'acceuil ***************************/

.index-article {
    margin: 0 auto .5rem auto;
    padding: 1rem 1.75rem;
    background-color: #F3E9F1;
    border-radius: 15px;
    width: 70%;
    color: #000000;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.index-article:hover {
    -webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;
}
.index-img {
    width: 30%;
    height: auto;
    margin: 0 0 1rem 35%;
}
.articleLink, .articleLink:hover {
    text-decoration: none;
    color: #000000;
}
.index-price {
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1rem;
}
.index-description {
    text-align: center;
    font-size: 1.1rem;
}

/**************************** Page produit *************************/

.produit-article {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 1.75rem;
    background-color: #F3E9F1;
    border-radius: 15px;
}
.index-produit {
    margin-bottom: 1rem;
}
.produit-img {
    width: 60%;
    height: auto;
    margin: 0 0 1rem 20%;
}
.produit-description {
    text-align: center;
    font-size: 1.1rem;
}
.produit-price {
    font-size: 1.1rem;
    text-decoration: underline; 
    font-weight: bold;
    text-align: right;
    padding-right: 18%;
}
#lense-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#lense {
    border-radius: 5px;
}

/**************************** Page panier ***************************/

.display {
    display: none;
}
.row {
    border-bottom: 1px solid #000;
    margin-bottom: .5rem;
    padding-bottom: .25rem;
}
.apercu-panier{
    width: auto;
    height: 110px;
}
.divItemInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 110px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.divItemInfo p {
    margin-bottom: .5rem;
}
.divChoice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.divChoice p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
}
.divButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.divButton button:first-child {
    margin-bottom: .5rem;
}
.itemsPrices {
    margin-bottom: 0;
}
.totalOrder {
    width: 32.5%;
    margin: 1rem 0 1rem 68.5%;
    font-size: 1.1rem;
    font-weight: bold;
}
#form-contact {
    width: 80%;
    margin: auto;
    padding: 1rem 2.75rem;
    background-color: #F3E9F1;
    border-radius: 15px;
    text-align: center;
}
.formSecondPart label:first-child {
    margin-right: 3%;
}
#form-contact input {
    margin-right: .5rem;
}
.formSecondPart #email {
    margin-right: 10%;
}

/************************ page de ocnfirmation *************************/

.h2-confirm {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0;
}

/************************ Media querry **************************/
/******************* Ordre taille décroissant *******************/
/****** Ordre page : Index, produit, panier, confirmation ******/

@media only screen and (max-width : 1200px) {
    /********** Panier ************/
    #divImg {
        padding-left: 0;
    }
    #form-contact {
        width: 100%;
    } 
}

@media only screen and (max-width : 992px) {
    /********** Panier ************/
    .divImg, .apercu-panier {
        display: none;
    }
    #formFirstPart {
        margin-bottom: 0;
    }
    #form-contact label {
        margin-bottom: .25rem;
    }
    #form-contact input {
        margin-bottom: .75rem;
    }
    .formFirstPart, .formSecondPart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .formSecondPart label, .formSecondPart input, .formFirstPart label, .formFirstPart input {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    } 
    .formSecondPart #email {
        margin-right: 0;
    }
    #submit-command {
        margin: auto;
    }
}

@media only screen and (max-width: 768px){
    /*********** Header **********/
    .head-nav a img {
        display: none;
    }
    .head-nav-list {
        padding-left: 0;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    /********** Produit ***********/
    #lense-form {
        display: block;
        width: 100%;
        text-align: center;
    }
    #submit-form {
        margin-top: 1rem;
    }
    /********** Panier ************/
    .divImg {
        padding: 5% 15px;
    }
    .apercu-panier{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 576px){
    .nav-list {
        margin-left: 0;
        font-size: 1.3rem;
    }
    .nav-list li {
        width: 50%;
        
    }
    .nav-list:last-child {
        padding-right: 0;
    }
    /****** Pour toute les pages ******/
    #main {
        position: static;
        width: 100%;
    }
    /************ Index ***********/
    .index-img {
        width: 40%;
        margin: 0 0 1rem 30%;
    }
    /********** Produit ***********/
    #lense {
        width: 100%;
    }
    /********** Panier ************/
    .divItemInfo {
        height: 173px;
    }
    .divChoice {
        display: block;
    }
    .divChoice p {
        -ms-flex-item-align: auto;
            -ms-grid-row-align: auto;
            align-self: auto;
        margin-bottom: 0;
    }
    .divButton {
        display: block;
        border-bottom: 1px solid #000;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
    }
    .divButton button:first-child {
        margin-bottom: 0;
    }
}

